<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main.html">
<div layout:fragment="productsContent">
    <h1 class="text-center">Корзина</h1>
    <div class="row" id="cardListBody">

    </div>
    <div class="row mt-3" >
        <h3 id="total"></h3>
    </div>

    <input type="hidden"  th:value="${#authentication.principal.id}" id="user">
    <div class="row">
        <div class="mt-2 d-flex justify-content-lg-start">
            <button class="btn btn-success m-lg-2" onclick="createOrderFromShoppingCart(document.getElementById('user').value)">Заказать</button>
            <button class="btn btn-danger m-lg-2" onclick="deleteCart()">Очистить корзину</button>
        </div>
    </div>
    <script>
        loadCart();
        function loadCart() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/shopping-cart/items", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    let cartItems = JSON.parse(httpRequest.responseText);
                    let cardContent = "";
                    for (let i = 0; i < cartItems.length; i++) {
                        let cartItem = cartItems[i];
                        let item = cartItem.item;
                        let quantity = cartItem.quantity;
                        let price = item.price*quantity;
                        cardContent += "<div class=\"col-sm-4 mt-3\">";
                        cardContent += "<div class=\"card\" style=\"width: 18rem;\">";
                        cardContent += "<img src='/items/itemImage/" + item.image + "' class='card-img-top img-fluid' style='width: 300px; height: 200px'>";
                        cardContent += "<h4 class=\"text-center bg-light\">" + item.model.name + " " + item.name + "</h4>";
                        cardContent += "<div>";
                        cardContent += "<h5 class=\"card-title text-center\">" + price + " тенге" + "</h5>";
                        cardContent += "<h5 class=\"card-title text-center\">Количество: " + quantity + "</h5>";
                        cardContent += "<button class='btn btn-danger m-lg-2' onclick='deleteItem(\"" + item.id + "\")'>Удалить</button>";
                        cardContent += "<button class='btn btn-danger m-lg-2' onclick='removeItem(\"" + item.id + "\")'>-</button>";
                        cardContent += "<button class='btn btn-primary m-lg-2' onclick='addBucketItem(\"" + item.id + "\")'>+</button>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                    }
                    document.getElementById("cardListBody").innerHTML = cardContent;
                    const totalRequest = new XMLHttpRequest();
                    totalRequest.open("GET", "/shopping-cart/total", true);
                    totalRequest.onreadystatechange = function () {
                        if (totalRequest.readyState == XMLHttpRequest.DONE && totalRequest.status == 200) {
                            let total = JSON.parse(totalRequest.responseText);
                            document.getElementById("total").innerHTML = "Total: " + total + " тенге";
                        }
                    }
                    totalRequest.send();
                }
            }
            httpRequest.send();
        }


        function loadQuantity(id) {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/shopping-cart/quantity", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                    let cartList = httpRequest.responseText;
                    let cardContent = "";
                    cardContent += "<a class='btn btn-primary' href='bucket.html'>"+"Корзина "+cartList+"</a>";

                    document.getElementById("quantityListBody").innerHTML = cardContent;
                }
            }
            httpRequest.send();
        }
        function removeItem(id){
                            const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/shopping-cart/remove/"+id, true);

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        loadCart();
                    }
                };
                httpRequest.send();
        }
        function deleteItem(id){
            let approve = confirm("Вы уверены?");

            if(approve){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/shopping-cart/delete/"+id, true);

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        loadCart();
                    }
                };
                httpRequest.send();
            }

        }
        function deleteCart(){
            let approve = confirm("Вы уверены?");

            if(approve){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/shopping-cart/delete", true);

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        loadCart();
                    }
                };
                httpRequest.send();
            }

        }
        function addBucketItem(id) {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "/shopping-cart/add/"+id, true);

            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    loadCart();
                }
            };
            httpRequest.send();
        }

        function createOrderFromShoppingCart(userId) {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "/orders?userId=" + userId, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE) {
                    if (httpRequest.status == 201) {
                        console.log("Order created successfully");
                        alert("Ваш заказ создан, статус вашего заказа вы можете посмотреть в вашем личном кабинете.");
                        loadCart();
                    } else if (httpRequest.status == 400) {
                        alert("Корзина пуста");
                    }
                }
            }
            httpRequest.send();
        }
    </script
</div>
</html>