<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="productsContent">
    <div class="row mb-3" >
        <div class="row" id="cardListBody">

        </div>

        <div class="row" sec:authorize="isAuthenticated()">
            <div class="mb-3">
                <label class="form-label">Коментарий:</label>
                <input type="hidden" th:value="${#authentication.principal.fullName}" id="user">
                <textarea class="form-control" id="comment" rows="3"></textarea>
                <button class="btn btn-primary" onclick="addComment()">Отправить</button>
            </div>
        </div>
        <div class="row" id="CommentsListBody">

        </div>
<!--        <div>-->
<!--            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#detailListModal"> Редактировать </button>-->
<!--        </div>-->

<!--        <div class="modal fade" id="detailListModal" tabindex="-1" aria-labelledby="detailsListModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h1 class="modal-title fs-5" id="detailsListModalLabel">Modal title</h1>-->
<!--                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        -->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <script type="text/javascript">
            let href = document.location.href
            let text = href.split('/').pop();
            let txt = document.location.href.split('/').pop();
            loadNotebooks();
            loadProcessor();

            loadVideoCard();
            loadNotebookModel();
            function loadNotebooks() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/laptop/" + txt, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        let laptopList = JSON.parse(httpRequest.responseText);
                        let cardContent = "";
                        cardContent += "<div class=\"row\">";
                        cardContent += "<div class=\"col-sm-6\">";
                        cardContent += "<img src='/images/" + laptopList.item.image + "' class='card-img-top img-fluid' style='width: 500px; height: 400px'>";
                        cardContent += "<div class=\"mb-3 mt-3\">";
                        cardContent += "<input class=\"form-control\" type=\"file\" id=\"image\">";
                        cardContent += "</div>";
                        cardContent += "<div class=\"row\">";
                        cardContent += "<div class=\"col-12\">";
                        cardContent += "<button class=\"btn btn-success\" onclick=\"addImage()\">Загрузить</button>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                        cardContent += "<div class=\"col-sm-6\">";
                        cardContent += "<input type='hidden' value='" + laptopList.id + "' id='id'>";
                        cardContent += "<input type='hidden' value='" + laptopList.item.image + "' id='imageSrc'>";
                        cardContent += "<input type='hidden' value='" + laptopList.item.id + "' id='itemId'>";
                        cardContent += "<label >Модель:</label>";
                        cardContent += "<div id='modelListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Название:</label>";
                        cardContent += "<input type='text' class=\"form-control\" value='" + laptopList.item.name + "' id='name'>";
                        cardContent += "<h3 > Технические характеристики:</h3>";
                        cardContent += "<label >Процессор:</label>";
                        cardContent += "<div id='selectListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Видекарта:</label>";
                        cardContent += "<div id='videoCardListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Диагональ:</label>";
                        cardContent += "<div id='diagonalListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Объем жесткого диска:</label>";
                        cardContent += "<div id='memoryListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Объем опретивной памяти:</label>";
                        cardContent += "<div id='ozuListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Описание:</label>";
                        cardContent += "<input type='text' id='description' class=\"form-control\" value='"+laptopList.item.description+"'>";
                        cardContent += "<label >Цена:</label>";
                        cardContent += "<input class='form-control' type='number' id='price' value='"+laptopList.item.price+"'>";
                        cardContent += "<div class=\"row mt-3\">";
                        cardContent += "<div class=\"col-12\">";
                        cardContent += "<button class=\"btn btn-success\" onclick='editLaptop()'>Редактировать</button>";
                        cardContent += "<button class=\"btn btn-danger\" onclick='deleteLaptop()'>Удалить</button>";
                        cardContent += "</div></div></div></div>";

                        loadComments(laptopList.item.id)
                        loadProcessor(laptopList.processor.id)
                        loadVideoCard(laptopList.videoCard.id)
                        loadNotebookModel(laptopList.item.model.id)
                        loadOzu(laptopList.ozu.id)
                        loadMemory(laptopList.memory.id)
                        loadDiagonal(laptopList.diagonal.id)

                        document.getElementById("cardListBody").innerHTML = cardContent;
                    }
                }
                httpRequest.send();
            }


            function loadProcessor(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/processor", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let processorList = JSON.parse(httpRequest.responseText);

                        let selectContent = "";
                        selectContent += "<select id='processor' class=\"form-select\">";
                        for (let i = 0; i < processorList.length; i++) {

                            selectContent += "<option  value='"+processorList[i].id+"'>"+ processorList[i].model+ "</option>";
                            if (processorList[i].id === id) {
                                selectContent +=    "<option  value='"+processorList[i].id+"' selected>"+ processorList[i].model+ "</option>"
                            }
                        }
                        selectContent += "</select>";
                        document.getElementById("selectListBody").innerHTML = selectContent;
                    }
                }
                httpRequest.send();
            }
            function loadDiagonal(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/diagonal", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let diagonalList = JSON.parse(httpRequest.responseText);

                        let diagonalContent = "";
                        diagonalContent += "<select id='diagonal' class=\"form-select\">";
                        for (let i = 0; i < diagonalList.length; i++) {

                            diagonalContent += "<option  value='"+diagonalList[i].id+"'>"+ diagonalList[i].diagonal+ "</option>";
                            if (diagonalList[i].id === id) {
                                diagonalContent +=    "<option  value='"+diagonalList[i].id+"' selected>"+ diagonalList[i].diagonal+ "</option>"
                            }
                        }
                        diagonalContent += "</select>";
                        document.getElementById("diagonalListBody").innerHTML = diagonalContent;
                    }
                }
                httpRequest.send();
            }
            function loadMemory(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/memory", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let memoryList = JSON.parse(httpRequest.responseText);

                        let memoryContent = "";
                        memoryContent += "<select id='memory' class=\"form-select\">";
                        for (let i = 0; i < memoryList.length; i++) {

                            memoryContent += "<option  value='"+memoryList[i].id+"'>"+ memoryList[i].memory+ "</option>";
                            if (memoryList[i].id === id) {
                                memoryContent +=  "<option  value='"+memoryList[i].id+"' selected>"+ memoryList[i].memory+ "</option>"
                            }
                        }
                        memoryContent += "</select>";
                        document.getElementById("memoryListBody").innerHTML = memoryContent;
                    }
                }
                httpRequest.send();
            }
            function loadOzu(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/ozu", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let ozuList = JSON.parse(httpRequest.responseText);

                        let ozuContent = "";
                        ozuContent += "<select id='ozu' class=\"form-select\">";
                        for (let i = 0; i < ozuList.length; i++) {

                            ozuContent += "<option  value='"+ozuList[i].id+"'>"+ ozuList[i].ozu+ "</option>";
                            if (ozuList[i].id === id) {
                                ozuContent +=    "<option  value='"+ozuList[i].id+"' selected>"+ ozuList[i].ozu+ "</option>"
                            }
                        }
                        ozuContent += "</select>";
                        document.getElementById("ozuListBody").innerHTML = ozuContent;
                    }
                }
                httpRequest.send();
            }
            function loadComments(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/comment/itemComment/"+id, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let CommentsList = JSON.parse(httpRequest.responseText);

                        let CommentsContent = "";

                        for (let i = 0; i < CommentsList.length; i++) {

                            CommentsContent += "<div class=\"row\">"
                                CommentsContent += "<div class=\"mb-3\">"
                                CommentsContent +=  "<label class=\"form-label\">"+CommentsList[i].userN+" :"+"</label>"
                                CommentsContent +=  "<textarea class=\"form-control\" rows=\"3\">"+CommentsList[i].text+"</textarea>"
                                CommentsContent +=  "</div>";
                                CommentsContent +=  "</div>";
                        }
                        document.getElementById("CommentsListBody").innerHTML = CommentsContent;
                    }
                }
                httpRequest.send();
            }
            function loadVideoCard(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/videoCard", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let videoCardList = JSON.parse(httpRequest.responseText);

                        let videoCardContent = "";
                        videoCardContent += "<select id='videoCard' class=\"form-select\">";
                        for (let i = 0; i < videoCardList.length; i++) {

                            videoCardContent += "<option  value='"+videoCardList[i].id+"'>"+ videoCardList[i].model+ "</option>";
                            if (videoCardList[i].id === id) {
                                videoCardContent +=    "<option  value='"+videoCardList[i].id+"' selected>"+ videoCardList[i].model+ "</option>"
                            }
                        }
                        videoCardContent += "</select>";
                        document.getElementById("videoCardListBody").innerHTML = videoCardContent;
                    }
                }
                httpRequest.send();
            }
            function loadNotebookModel(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/model", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let modelList = JSON.parse(httpRequest.responseText);

                        let modelContent = "";
                        modelContent += "<select id='model' class=\"form-select\">";
                        for (let i = 0; i < modelList.length; i++) {

                            modelContent += "<option  value='"+modelList[i].id+"'>"+ modelList[i].name+ "</option>";
                            if (modelList[i].id === id) {
                                modelContent += "<option  value='"+modelList[i].id+"' selected>"+ modelList[i].name+ "</option>"
                            }
                        }
                        modelContent += "</select>";
                        document.getElementById("modelListBody").innerHTML = modelContent;
                    }
                }
                httpRequest.send();
            }
            function editLaptop() {
                let put = {
                    "id" : document.getElementById("id").value,
                    "processor" : {
                        "id" : document.getElementById("processor").value
                    },
                    "videoCard" : {
                        "id" : document.getElementById("videoCard").value
                    },
                    "memory" : {"id":document.getElementById("memory").value},
                    "ozu" : {"id":document.getElementById("ozu").value},
                    "diagonal" :{"id":document.getElementById("diagonal").value} ,
                    "item": {
                        "id": document.getElementById("itemId").value,
                        "name": document.getElementById("name").value,
                        "description": document.getElementById("description").value,
                        "price": document.getElementById("price").value,
                        "categories": {
                            "id": 1,
                        },
                        "model" : {
                            "id" : document.getElementById("model").value
                        },
                        "image": document.getElementById("imageSrc").value
                    }
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                }
                req.open("PUT", "http://localhost:8888/laptop",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(put))
            }
            function deleteLaptop(){

                let approve = confirm("Вы уверены?");

                if(approve){

                    let Id = document.getElementById("id").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/laptop/"+Id, true);

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                           alert("Ноутбук удален");
                        }
                    };

                    httpRequest.send();
                }

            }
            function addComment() {
                // let itemId = txt;
                let post = {
                    "text" : document.getElementById("comment").value,
                    "userN": document.getElementById("user").value,

                    "item": {
                        "id": document.getElementById("itemId").value
                    }
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadComments(document.getElementById("itemId").value);
                }
                req.open("POST", "http://localhost:8888/comment",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(post))
            }
            function addImage() {
                let formData = new FormData();
                formData.append('id', document.getElementById('itemId').value);
                // Добавление MultipartFile
                let imageFile = document.getElementById('image').files[0];
                formData.append('image', imageFile);

                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                };
                req.open('POST', 'http://localhost:8888/items/upload');
                req.send(formData);
            }
        </script>

    </div>

</div>
</html>