<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="productsContent">
    <div class="row mb-3" >
        <div class="row" id="cardListBody">

        </div>
        <div class="row" sec:authorize="isAuthenticated()">
            <div class="mb-3">
                <label class="form-label">Коментарий:</label>
                <input type="hidden" th:value="${#authentication.principal.fullName}" id="user">
                <textarea class="form-control" id="comment" rows="3"></textarea>
                <button class="btn btn-primary" onclick="addComment()">Отправить</button>
            </div>
        </div>
        <div class="row" id="CommentsListBody">

        </div>
        <script type="text/javascript">
            let href = document.location.href
            let text = href.split('/').pop();
            let txt = document.location.href.split('/').pop();
            loadNotebooks();
            loadNotebookModel();
            loadCategory();
            function loadNotebooks() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/items/getOne/" + txt, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        let laptopList = JSON.parse(httpRequest.responseText);
                        let cardContent = "";
                        cardContent += "<div class=\"row\">";
                        cardContent += "<div class=\"col-sm-6\">";
                        cardContent += "<img src='/images/" + laptopList.image + "' class='card-img-top img-fluid' style='width: 500px; height: 400px'>";
                        cardContent += "<div class=\"mb-3 mt-3\">";
                        cardContent += "<input class=\"form-control\" type=\"file\" id=\"image\">";
                        cardContent += "</div>";
                        cardContent += "<div class=\"row\">";
                        cardContent += "<div class=\"col-12\">";
                        cardContent += "<button class=\"btn btn-success\" onclick=\"addImage()\">Загрузить</button>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                        cardContent += "</div>";
                        cardContent += "<div class=\"col-sm-6\">";
                        cardContent += "<input type='hidden' value='" + laptopList.id + "' id='id'>";
                        cardContent += "<input type='hidden' value='" + laptopList.image + "' id='imageSrc'>";
                        cardContent += "<label >Модель:</label>";
                        cardContent += "<div id='modelListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Название:</label>";
                        cardContent += "<input type='text' class=\"form-control\" value='" + laptopList.name + "' id='name'>";
                        cardContent += "<label >Категория:</label>";
                        cardContent += "<div id='categoryListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Описание:</label>";
                        cardContent += "<input type='text' id='description' class=\"form-control\" value='"+laptopList.description+"'>";
                        cardContent += "<label >Цена:</label>";
                        cardContent += "<input class='form-control' type='number' id='price' value='"+laptopList.price+"'>";
                        cardContent += "<div class=\"row mt-3\">";
                        cardContent += "<div class=\"col-12\">";
                        cardContent += "<button class=\"btn btn-success\" onclick='editLaptop()'>Редактировать</button>";
                        cardContent += "<button class=\"btn btn-danger\" onclick='deleteLaptop()'>Удалить</button>";
                        cardContent += "</div></div></div></div>";

                        loadNotebookModel(laptopList.model.id)
                        loadCategory(laptopList.categories.id)

                        document.getElementById("cardListBody").innerHTML = cardContent;
                    }
                }
                httpRequest.send();
            }

            function loadComments(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/comment/itemComment/"+id, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let CommentsList = JSON.parse(httpRequest.responseText);

                        let CommentsContent = "";

                        for (let i = 0; i < CommentsList.length; i++) {

                            CommentsContent += "<div class=\"row\">"
                                CommentsContent += "<div class=\"mb-3\">"
                                CommentsContent +=  "<label class=\"form-label\">"+CommentsList[i].userN+" :"+"</label>"
                                CommentsContent +=  "<textarea class=\"form-control\" rows=\"3\">"+CommentsList[i].text+"</textarea>"
                                CommentsContent +=  "</div>";
                                CommentsContent +=  "</div>";
                        }
                        document.getElementById("CommentsListBody").innerHTML = CommentsContent;
                    }
                }
                httpRequest.send();
            }

            function loadNotebookModel(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/model", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let modelList = JSON.parse(httpRequest.responseText);

                        let modelContent = "";
                        modelContent += "<select id='model' class=\"form-select\">";
                        for (let i = 0; i < modelList.length; i++) {

                            modelContent += "<option  value='"+modelList[i].id+"'>"+ modelList[i].name+ "</option>";
                            if (modelList[i].id === id) {
                                modelContent += "<option  value='"+modelList[i].id+"' selected>"+ modelList[i].name+ "</option>"
                            }
                        }
                        modelContent += "</select>";
                        document.getElementById("modelListBody").innerHTML = modelContent;
                    }
                }
                httpRequest.send();
            }
            function loadCategory(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/categories", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let modelList = JSON.parse(httpRequest.responseText);

                        let modelContent = "";
                        modelContent += "<select id='category' class=\"form-select\">";
                        for (let i = 0; i < modelList.length; i++) {

                            modelContent += "<option  value='"+modelList[i].id+"'>"+ modelList[i].name+ "</option>";
                            if (modelList[i].id === id) {
                                modelContent += "<option  value='"+modelList[i].id+"' selected>"+ modelList[i].name+ "</option>"
                            }
                        }
                        modelContent += "</select>";
                        document.getElementById("categoryListBody").innerHTML = modelContent;
                    }
                }
                httpRequest.send();
            }
            function editLaptop() {
                let put = {
                         "id": document.getElementById("id").value,
                        "name": document.getElementById("name").value,
                        "description": document.getElementById("description").value,
                        "price": document.getElementById("price").value,
                        "categories": {
                            "id": document.getElementById("category").value,
                        },
                        "model" : {
                            "id" : document.getElementById("model").value
                        },
                        "image": document.getElementById("imageSrc").value
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                }
                req.open("PUT", "http://localhost:8888/items",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(put))
            }
            function deleteLaptop(){

                let approve = confirm("Вы уверены?");

                if(approve){

                    let Id = document.getElementById("id").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/items/"+Id, true);

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                           alert("Ноутбук удален");
                        }
                    };

                    httpRequest.send();
                }

            }
            function addComment() {
                // let itemId = txt;
                let post = {
                    "text" : document.getElementById("comment").value,
                    "userN": document.getElementById("user").value,

                    "item": {
                        "id": document.getElementById("id").value
                    }
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadComments(document.getElementById("id").value);
                }
                req.open("POST", "http://localhost:8888/comment",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(post))
            }
            function addImage() {
                let formData = new FormData();
                formData.append('id', document.getElementById('id').value);
                // Добавление MultipartFile
                let imageFile = document.getElementById('image').files[0];
                formData.append('image', imageFile);

                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                };
                req.open('POST', 'http://localhost:8888/items/upload');
                req.send(formData);
            }
        </script>

    </div>

</div>
</html>