<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="productsContent">
        <div class="col-sm-6">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="query">
            <button class="btn btn-outline-success mt-2" type="submit" onclick="loadItemsSearch()">Search</button>
        </div>


    <div class="mt-2 d-flex justify-content-lg-end" id="quantityListBody"></div>
    <div class="row mt-2">
        <div class="col-12 d-flex justify-content-lg-start">
                        <!-- Top controls -->
            <div id="categories"></div>
            <div id="model"></div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 d-flex justify-content-lg-start">
            <button id="cheapButton" class="btn btn-success mb-2 me-2" style="width: 150px" onclick="loadCheap()">Сначала дешевые</button>
            <button id="expensiveButton" class="btn btn-success mb-2 me-2" style="width: 150px" onclick="loadExpensive()">Сначала дорогие</button>
        </div>

    </div>
    <div  class="row mt-2" id="cardContent">

    </div>


    <script type="text/javascript">

            loadItems();
            loadQuantity();
            loadModels();
            loadCategories()

            function loadCategory(value){
                let numValue = parseInt(value);
                if (numValue===0){
                    loadItems()
                }else if (numValue===1){
                    loadLaptop()
                }else if (numValue===2){
                    loadPhone()
                }else loadItemCategory(numValue)
            }
            function generateCardContent(itemsList) {
                let cardContent = '';
                for (let i = 0; i < itemsList.length; i++) {
                    cardContent += "<div class=\"col-sm-4 mt-3\">";
                    cardContent += "<div class=\"card\" style=\"width: 18rem;\">";
                    cardContent += "<img src='/items/itemImage/"+itemsList[i].image+"' class='card-img-top img-fluid' style='width: 300px; height: 200px'>";

                    cardContent += "<h4 class=\"text-center bg-light\">"+itemsList[i].model.name+" "+ itemsList[i].name+ "</h4>";
                    cardContent += "<div>";
                    cardContent += "<p class=\"card-text text-center\">" + itemsList[i].description + "</p>";
                    cardContent += "<h5 class=\"card-title text-center\">" + itemsList[i].price +" тенге" +"</h5>";
                    if (itemsList[i].categories.id==1){
                        cardContent += "<a class=\"btn btn-dark m-lg-2\"  href=detailsLaptop/"+itemsList[i].id+">" + "Подробнее" +"</a>";
                    }else if (itemsList[i].categories.id==2){
                        cardContent += "<a class=\"btn btn-dark m-lg-2\"  href=detailsPhone/"+itemsList[i].id+">" + "Подробнее" +"</a>";
                    } else {
                        cardContent += "<a class=\"btn btn-dark m-lg-2\"  href=detailsItem/"+itemsList[i].id+">" + "Подробнее" +"</a>";
                    }
                    cardContent += "<button class='btn btn-primary m-lg-2' onclick='addBucket(\""+itemsList[i].id+"\")'>"+"В корзину"+"</button></button>";
                    cardContent += "</div>";
                    cardContent += "</div>";
                    cardContent += "</div>";
                }
                return cardContent;
            }
            function generateModel(modelList) {
                let model = '';
                model += "<select class=\"form-select form-select-sm mb-2 me-2\" style=\"width: 150px\" id='ModelSelect' onchange='loadModelsById()'>";
                // model += "<option value='all'>All Notebook Models</option>";
                for (let i = 0; i < modelList.length; i++) {
                    model += "<option value='" + modelList[i].id + "'>" + modelList[i].name + "</option>";
                }
                model += "</select>";
                return model;
            }
            function generateCategories(categoriesList) {
                let categories = '';
                categories += "<select class=\"form-select form-select-sm mb-2 me-2\" style=\"width: 150px\" id='CategoriesSelect' onchange='loadCategory(this.value)'>";
                categories += "<option value='"+0+"'>All Categories</option>";
                for (let i = 0; i < categoriesList.length; i++) {
                    categories += "<option value='" + categoriesList[i].id + "'>" + categoriesList[i].name + "</option>";
                }
                categories += "</select>";
                return categories;
            }
            function loadItems() {
                fetch('/items')
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        // Add the generated content to the page
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('items');
                    });
            }
            function loadItemsSearch() {
                let query = document.getElementById("query").value;
                fetch('/items/search?query=' + encodeURIComponent(query))
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        // Add the generated content to the page
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('items');
                    });
            }

            function loadCheap() {
                fetch('/items/cheap')
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }
            function loadExpensive() {
                fetch('/items/expensive')
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }

            function loadCheapPhone() {
                const categoryId = 2;
                fetch(`/items/cheap/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsPhoneList => {
                        const cardContent = generateCardContent(itemsPhoneList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('phones');
                    });
            }
            function loadExpensivePhone() {
                const categoryId = 2;
                fetch(`/items/expensive/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsPhoneList => {
                        const cardContent = generateCardContent(itemsPhoneList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('phones');
                    });
            }
            function loadCheapItemCategory(id) {
                const categoryId = id;
                fetch(`/items/cheap/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsPhoneList => {
                        const cardContent = generateCardContent(itemsPhoneList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }
            function loadExpensiveItemCategory(id) {
                const categoryId = id;
                fetch(`/items/expensive/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsPhoneList => {
                        const cardContent = generateCardContent(itemsPhoneList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }
            function loadLaptop(){
                const categoryId = 1;
                fetch(`/items/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('laptops');
                    });
            }
            function loadItemCategory(id){
                const categoryId = id;
                fetch(`/items/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('category', categoryId);
                    });
            }


            function loadPhone(){
                const categoryId = 2;
                fetch(`/items/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('phones');
                    });
            }
            function loadModelsById() {
                const categoryId = document.getElementById("ModelSelect").value;
                fetch(`/items/model/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('models');
                    });
            }
            function loadModelsByIdCheap(){
                const categoryId = document.getElementById("ModelSelect").value; // Замените на нужный ID категории
                fetch(`/items/model/cheap/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }
            function loadModelsByIdExpensive(){
                const categoryId = document.getElementById("ModelSelect").value; // Замените на нужный ID категории
                fetch(`/items/model/expensive/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        // Add the generated content to the page
                        document.querySelector('#cardContent').innerHTML = cardContent;
                    });
            }
            function loadCheapLaptop() {
                const categoryId = 1;
                fetch(`/items/cheap/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('laptops');
                    });
            }
            function loadExpensiveLaptop() {
                const categoryId = 1;
                fetch(`/items/expensive/${categoryId}`)
                    .then(response => response.json())
                    .then(itemsList => {
                        const cardContent = generateCardContent(itemsList);
                        document.querySelector('#cardContent').innerHTML = cardContent;
                        updateButtons('laptops');
                    });
            }
            function loadCategories(){
                fetch('/categories')
                    .then(response => response.json())
                    .then(categoriesList => {
                        const categories = generateCategories(categoriesList);
                        document.querySelector('#categories').innerHTML= categories;
                    });
            }


            function updateButtons(view, categoryId) {
                let cheapButton = document.querySelector('#cheapButton');
                let expensiveButton = document.querySelector('#expensiveButton');
                if (view === 'items') {
                    cheapButton.setAttribute('onclick', 'loadCheap()');
                    expensiveButton.setAttribute('onclick', 'loadExpensive()');
                } else if (view === 'laptops') {
                    cheapButton.setAttribute('onclick', 'loadCheapLaptop()');
                    expensiveButton.setAttribute('onclick', 'loadExpensiveLaptop()');
                } else if (view === 'phones') {
                    cheapButton.setAttribute('onclick', 'loadCheapPhone()');
                    expensiveButton.setAttribute('onclick', 'loadExpensivePhone()');
                } else if (view === 'models') {
                    cheapButton.setAttribute('onclick', 'loadModelsByIdCheap()');
                    expensiveButton.setAttribute('onclick', 'loadModelsByIdExpensive()');
                } else if (view === 'category') {
                    cheapButton.setAttribute('onclick', `loadCheapItemCategory(${categoryId})`);
                    expensiveButton.setAttribute('onclick', `loadExpensiveItemCategory(${categoryId})`);
                }
            }

            function loadModels() {
                fetch('/model')
                    .then(response => response.json())
                    .then(modelList => {
                        const model = generateModel(modelList);
                        // Add the generated content to the page
                        document.querySelector('#model').innerHTML = model;
                    });
            }

            function addBucket(id) {
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadQuantity()
                }
                req.open("POST", "http://localhost:8888/shopping-cart/add/"+id)
                req.setRequestHeader("Content-type", "application/json")
                req.send()
            }
            function addBucketLaptop(id) {

                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadQuantity()
                }
                req.open("POST", "http://localhost:8888/shopping-cart/add/"+id)
                req.setRequestHeader("Content-type", "application/json")
                req.send()
            }
            function addBucketItem(id) {
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadQuantity()
                }
                req.open("POST", "http://localhost:8888/shopping-cart/add/"+id)
                req.setRequestHeader("Content-type", "application/json")
                req.send()
            }
            function loadQuantity() {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/shopping-cart/quantity", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let cartList = httpRequest.responseText;
                        let cardContent = "";
                        cardContent += "<a class='btn btn-primary' href='/bucket'>"+"Корзина "+cartList+"</a>";

                        document.getElementById("quantityListBody").innerHTML = cardContent;
                    }
                }
                httpRequest.send();
            }
    </script>

</div>
</html>