<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/main.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="productsContent">
    <div class="row mb-3" >
        <div class="row">
            <div class="mt-2 d-flex justify-content-lg-end" id="quantityListBody"></div>
            <div class="col-sm-6">
                <div id="imgListBody">

                </div>
                <div id="uploadListBody" sec:authorize="hasAnyRole('ROLE_ADMIN')">

                </div>
            </div>
            <div class="col-sm-6 mt-3" >
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row" id="userListBody" >

                        </div>
                    </div>
                </div>

                <button type="button" sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn btn-primary mb-2 me-2 mt-2" style="width: 150px" data-bs-toggle="modal" data-bs-target="#editModal" >
                    Редактировать
                </button>
            </div>

        </div>
        <div class="row mt-3" sec:authorize="isAuthenticated()">
            <div class="mb-3">
                <label class="form-label">Коментарий:</label>
                <input type="hidden" th:value="${#authentication.principal.fullName}" id="user">
                <textarea class="form-control" id="comment" rows="3"></textarea>
                <button class="btn btn-primary mt-2" onclick="addComment()">Отправить</button>
            </div>
        </div>
        <div class="row">
                <div class="card mb-4">
                    <h4 class="mt-3">Отзывы: </h4>
                    <div class="card-body">

                        <div class="row mt-3" id="CommentsListBody">

                        </div>
                    </div>
            </div>
        </div>

        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="cardListBody">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            let href = document.location.href
            let text = href.split('/').pop();
            let txt = document.location.href.split('/').pop();
            loadNotebooks();
            loadProcessor();
            loadNotebookModel();
            loadQuantity();

            function loadNotebooks() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/phone/" + txt, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        let notebookList = JSON.parse(httpRequest.responseText);
                        let cardContent = "";

                        let imgContent = "";
                        let uploadContent = "";
                        let userContent = "";

                        userContent += "<h3 > Технические характеристики:</h3>";
                        userContent += "<label >Процессор:</label>";
                        userContent += "<h5>"+notebookList.phoneProcessor.name+"</h5>";
                        userContent += "<label >Диагональ:</label>";
                        userContent += "<h5>"+notebookList.diagonal.diagonal+"</h5>";
                        userContent += "<label >Объем жесткого диска:</label>";
                        userContent += "<h5>"+notebookList.memory.memory+"</h5>";
                        userContent += "<label >Объем опретивной памяти:</label>";
                        userContent += "<h5>"+notebookList.ozu.ozu+"</h5>";
                        userContent += "<label >Операционная система:</label>";
                        userContent += "<h5>"+notebookList.os+"</h5>";
                        userContent += "<label >Основаня камера:</label>";
                        userContent += "<h5>"+notebookList.photo+"</h5>";
                        userContent += "<label >Фронтальная камера:</label>";
                        userContent += "<h5>"+notebookList.frontPhoto+"</h5>";
                        userContent += "<label >Количество SIM:</label>";
                        userContent += "<h5>"+notebookList.sim+"</h5>";
                        userContent += "<label >Цвет:</label>";
                        userContent += "<h5>"+notebookList.item.color+"</h5>";
                        userContent += "<label >Вес:</label>";
                        userContent += "<h5>"+notebookList.item.weight+" " +"грамм"+"</h5>";
                        userContent += "<label >Цена:</label>";
                        userContent += "<h5>"+notebookList.item.price+"</h5>";
                        userContent += "<div class=\"mt-2 d-flex justify-content-lg-start\" >";
                        userContent += "<button class='btn btn-primary ' onclick='addBucket(\""+notebookList.item.id+"\")'>"+"В корзину"+"</button></button>";
                        userContent += "</div>";
                        imgContent += "<img src='/items/itemImage/" + notebookList.item.image + "' class='card-img-top img-fluid' style='width: 500px; height: 400px'>";
                        imgContent += "<h4 class=' mt-2'>"+"Название: "+"</h4>";
                        imgContent += "<h2 class=' mt-2'>"+notebookList.item.model.name+" "+notebookList.item.name+"</h2>";
                        imgContent += "<label >Описание:</label>";
                        imgContent += "<textarea class='form-control' readonly>"+notebookList.item.description+"</textarea>";
                        uploadContent += "<div class=\"mb-3 mt-3\" >";
                        uploadContent += "<input class=\"form-control\" type=\"file\" id=\"image\">";
                        uploadContent += "</div>";
                        // uploadContent += "<div class=\"row\">";
                        // uploadContent += "<div class=\"col-12\">";
                        uploadContent += "<button class=\"btn btn-success\" onclick=\"addImage()\">Загрузить</button>";

                        // uploadContent += "</div>";

                        // cardContent += "<div class=\"col-sm-6\">";
                        cardContent += "<input type='hidden' value='" + notebookList.id + "' id='id'>";
                        // cardContent += "<input type='hidden' value='" + notebookList.item.phoneId + "' id='phoneId'>";
                        cardContent += "<input type='hidden' value='" + notebookList.item.image + "' id='imageSrc'>";
                        cardContent += "<input type='hidden' value='" + notebookList.item.id + "' id='itemId'>";
                        cardContent += "<label >Модель:</label>";
                        cardContent += "<div id='modelListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Название:</label>";
                        cardContent += "<input type='text' class=\"form-control\" value='" + notebookList.item.name + "' id='name'>";
                        cardContent += "<h3 > Технические характеристики:</h3>";
                        cardContent += "<label >Процессор:</label>";
                        cardContent += "<div id='selectListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Диагональ:</label>";
                        cardContent += "<div id='diagonalListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Объем жесткого диска:</label>";
                        cardContent += "<div id='memoryListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Объем опретивной памяти:</label>";
                        cardContent += "<div id='ozuListBody'>";
                        cardContent += "</div>";
                        cardContent += "<label >Цвет:</label>";
                        cardContent += "<input class='form-control' type='text' id='color' value='"+notebookList.item.color+"'>";
                        cardContent += "<label >Вес:</label>";
                        cardContent += "<input class='form-control' type='number' step='0.01' id='weight' value='"+notebookList.item.weight+"'>";
                        cardContent += "<label >Описание:</label>";
                        cardContent += "<input type='text' id='description' class=\"form-control\" value='"+notebookList.item.description+"'>";
                        cardContent += "<label >Цена:</label>";
                        cardContent += "<input class='form-control' type='number' id='price' value='"+notebookList.item.price+"'>";
                        cardContent += "<label >OS:</label>";
                        cardContent += "<input class='form-control' type='text' id='os' value='"+notebookList.os+"'>";
                        cardContent += "<label >photo:</label>";
                        cardContent += "<input class='form-control' type='number' id='photo' value='"+notebookList.photo+"'>";
                        cardContent += "<label >frontPhoto:</label>";
                        cardContent += "<input class='form-control' type='text' id='frontPhoto' value='"+notebookList.frontPhoto+"'>";
                        cardContent += "<label >sim:</label>";
                        cardContent += "<input class='form-control' type='number' id='sim' value='"+notebookList.sim+"'>";
                        cardContent += "<div class=\"row mt-3\">";
                        cardContent += "<div class=\"col-12 \">";
                        cardContent += "<button class=\"btn btn-success\" onclick='editLaptop()'>Редактировать</button>";
                        cardContent += "<button class=\"btn btn-danger\" onclick='deleteLaptop()'>Удалить</button>";
                        cardContent += "</div></div>";



                        loadComments(notebookList.item.id)
                        loadProcessor(notebookList.phoneProcessor.id)
                        loadNotebookModel(notebookList.item.model.id)
                        loadOzu(notebookList.ozu.id)
                        loadMemory(notebookList.memory.id)
                        loadDiagonal(notebookList.diagonal.id)

                        document.getElementById("userListBody").innerHTML = userContent;
                        document.getElementById("cardListBody").innerHTML = cardContent;
                        document.getElementById("imgListBody").innerHTML = imgContent;
                        document.getElementById("uploadListBody").innerHTML = uploadContent;

                    }
                }
                httpRequest.send();
            }


            function loadProcessor(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/PhoneProcessor", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let processorList = JSON.parse(httpRequest.responseText);

                        let selectContent = "";
                        selectContent += "<select id='processor' class=\"form-select\">";
                        for (let i = 0; i < processorList.length; i++) {

                            selectContent += "<option  value='"+processorList[i].id+"'>"+ processorList[i].name+ "</option>";
                            if (processorList[i].id === id) {
                                selectContent +=    "<option  value='"+processorList[i].id+"' selected>"+ processorList[i].name+ "</option>"
                            }
                        }
                        selectContent += "</select>";
                        document.getElementById("selectListBody").innerHTML = selectContent;
                    }
                }
                httpRequest.send();
            }
            function loadDiagonal(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/diagonal", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let diagonalList = JSON.parse(httpRequest.responseText);

                        let diagonalContent = "";
                        diagonalContent += "<select id='diagonal' class=\"form-select\">";
                        for (let i = 0; i < diagonalList.length; i++) {

                            diagonalContent += "<option  value='"+diagonalList[i].id+"'>"+ diagonalList[i].diagonal+ "</option>";
                            if (diagonalList[i].id === id) {
                                diagonalContent +=    "<option  value='"+diagonalList[i].id+"' selected>"+ diagonalList[i].diagonal+ "</option>"
                            }
                        }
                        diagonalContent += "</select>";
                        document.getElementById("diagonalListBody").innerHTML = diagonalContent;
                    }
                }
                httpRequest.send();
            }
            function loadMemory(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/memory", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let memoryList = JSON.parse(httpRequest.responseText);

                        let memoryContent = "";
                        memoryContent += "<select id='memory' class=\"form-select\">";
                        for (let i = 0; i < memoryList.length; i++) {

                            memoryContent += "<option  value='"+memoryList[i].id+"'>"+ memoryList[i].memory+ "</option>";
                            if (memoryList[i].id === id) {
                                memoryContent +=  "<option  value='"+memoryList[i].id+"' selected>"+ memoryList[i].memory+ "</option>"
                            }
                        }
                        memoryContent += "</select>";
                        document.getElementById("memoryListBody").innerHTML = memoryContent;
                    }
                }
                httpRequest.send();
            }
            function loadOzu(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/ozu", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let ozuList = JSON.parse(httpRequest.responseText);

                        let ozuContent = "";
                        ozuContent += "<select id='ozu' class=\"form-select\">";
                        for (let i = 0; i < ozuList.length; i++) {

                            ozuContent += "<option  value='"+ozuList[i].id+"'>"+ ozuList[i].ozu+ "</option>";
                            if (ozuList[i].id === id) {
                                ozuContent +=    "<option  value='"+ozuList[i].id+"' selected>"+ ozuList[i].ozu+ "</option>"
                            }
                        }
                        ozuContent += "</select>";
                        document.getElementById("ozuListBody").innerHTML = ozuContent;
                    }
                }
                httpRequest.send();
            }
            function loadComments(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/comment/itemComment/"+id, true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let CommentsList = JSON.parse(httpRequest.responseText);

                        let CommentsContent = "";
                        for (let i = 0; i < CommentsList.length; i++) {
                            const trimmedTime = CommentsList[i].time.slice(0, 10);
                            CommentsContent += "<div class=\"row\">"
                                CommentsContent += "<div class=\"mb-3\">"
                                CommentsContent +=  "<label class=\"form-label\">"+CommentsList[i].userN+" : "+"</label>"
                                CommentsContent += "<div class=\"mb-3\">"
                                CommentsContent +=  "<label class=\"form-label\">"+trimmedTime+" "+"</label>"
                                CommentsContent +=  "</div>";
                                CommentsContent +=  "<textarea class=\"form-control\" rows=\"3\">"+CommentsList[i].text+"</textarea>"
                                CommentsContent +=  "</div>";
                                CommentsContent +=  "</div>";
                        }
                        document.getElementById("CommentsListBody").innerHTML = CommentsContent;
                    }
                }
                httpRequest.send();
            }
            function loadNotebookModel(id) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/model", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let modelList = JSON.parse(httpRequest.responseText);

                        let modelContent = "";
                        modelContent += "<select id='model' class=\"form-select\">";
                        for (let i = 0; i < modelList.length; i++) {

                            modelContent += "<option  value='"+modelList[i].id+"'>"+ modelList[i].name+ "</option>";
                            if (modelList[i].id === id) {
                                modelContent += "<option  value='"+modelList[i].id+"' selected>"+ modelList[i].name+ "</option>"
                            }
                        }
                        modelContent += "</select>";
                        document.getElementById("modelListBody").innerHTML = modelContent;
                    }
                }
                httpRequest.send();
            }
            function editLaptop() {
                let put = {
                    "id" : document.getElementById("id").value,
                    "phoneProcessor" : {
                        "id" : document.getElementById("processor").value
                    },
                    "memory" : {"id":document.getElementById("memory").value},
                    "ozu" : {"id":document.getElementById("ozu").value},
                    "diagonal" :{"id":document.getElementById("diagonal").value} ,
                    "sim":document.getElementById("sim").value,
                    "os":document.getElementById("os").value,
                    "photo":document.getElementById("photo").value,
                    "frontPhoto":document.getElementById("frontPhoto").value,
                    "item": {
                        "id": document.getElementById("itemId").value,
                        "name": document.getElementById("name").value,
                        "description": document.getElementById("description").value,
                        "price": document.getElementById("price").value,
                        "color":document.getElementById("color").value,
                        "weight":document.getElementById("weight").value,
                        "categories": {
                            "id": 2,
                        },
                        "model" : {
                            "id" : document.getElementById("model").value
                        },
                        "image": document.getElementById("imageSrc").value
                    }
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                }
                req.open("PUT", "http://localhost:8888/phone",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(put))
            }
            function deleteLaptop(){

                let approve = confirm("Вы уверены?");

                if(approve){

                    let Id = document.getElementById("id").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/phone/"+Id, true);

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.status == 200) {
                            alert("Товар удален");
                            window.location.href = "http://localhost:8888/";
                        } else if (httpRequest.status == 500 ) {
                            alert("Перед удалением удалите заказы с этим товаром");
                        }
                    };

                    httpRequest.send();
                }

            }
            function addComment() {
                // let itemId = txt;
                let post = {
                    "text" : document.getElementById("comment").value,
                    "userN": document.getElementById("user").value,

                    "item": {
                        "id": document.getElementById("itemId").value
                    }
                }
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadComments(document.getElementById("itemId").value);
                }
                req.open("POST", "http://localhost:8888/comment",)
                req.setRequestHeader("Content-type", "application/json")
                req.send(JSON.stringify(post))
            }
            function addImage() {
                let formData = new FormData();
                formData.append('id', document.getElementById('itemId').value);
                // Добавление MultipartFile
                let imageFile = document.getElementById('image').files[0];
                formData.append('image', imageFile);

                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadNotebooks();
                };
                req.open('POST', 'http://localhost:8888/items/upload');
                req.send(formData);
            }
            function addBucket(id) {
                let req = new XMLHttpRequest();
                req.onload = function () {
                    loadQuantity()
                }
                req.open("POST", "http://localhost:8888/shopping-cart/add/"+id)
                req.setRequestHeader("Content-type", "application/json")
                req.send()
            }
            function loadQuantity() {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/shopping-cart/quantity", true);
                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                        let cartList = httpRequest.responseText;
                        let cardContent = "";
                        cardContent += "<a class='btn btn-primary' href='/bucket'>"+"Корзина "+cartList+"</a>";

                        document.getElementById("quantityListBody").innerHTML = cardContent;
                    }
                }
                httpRequest.send();
            }
        </script>

    </div>

</div>
</html>